a {
  color:inherit;
  text-decoration: none;
 }

aside {
  background-color: #ef4723;
  width: 100%;
  height: 70vh;
  color: #222;
}

aside h1 {
  font-size: 2.5em;
 }

aside h2 {
  font-size: 2em;
}

.img-circle {
  border-radius: 50%;
}

.project-container {
  clear: both;
  max-width: 500px;
}

.project-container h3 {
  color: #ef4723;
}

.project-container p {
  float: left;
  width:60%;
}

.project-container img {
  float: right;
  width: 40%;
}

li {
  font-weight: bold;
}

#info {
  -webkit-animation-delay: 2s;
  position: relative;
  top: 45%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  margin: 0 auto;
  max-width: 550px;
}

main {
  float: right;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
}


#main-container {
  margin: 0 auto;
}

main h2 {
  color: #ef4723;
  text-align: left;
}

.project-container p {
  float: left;
  text-align: left;
}

.open {
  height: 30vh;
}

form {
  margin: 0 auto;
  max-width: 300px;
}

@media (min-width: 400px) {}

@media (min-width: 550px) {}

@media (min-width: 750px) {

    aside {
      width: 50%;
      height: 100vh;
      position: fixed;
    }

    main {
      margin-right: 0px;
      width: 50%;
    }
  }
}