a {
  color:inherit;
  text-decoration: none;
 }

aside {
  background-color: #ef4723;
  width: 100%;
  height: 70vh;
  color: #222;
}

aside h1 { font-size: 2.5em;}

aside h2 { font-size: 2em;}

.project-container { clear: both; }

.project-container h3 { color: #ef4723; }

.project-container p {
  width:100%;
  text-align: left;
}

li { font-weight: bold; }

#info {
  -webkit-animation-delay: 2s;
  position: relative;
  top: 45%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  margin: 0 auto;
  max-width: 400px;
  animation: fadein 1s;
}

#info .img-circle { animation: grow .5s ease-in;}

main { padding-top: 20px;}

#main-container {
  width: 90%;
  margin: 0 auto;
  max-width: 500px;
}

article { clear: both;}

article h2 {
  color: #ef4723;
  text-align: left;
}

form .new_email {text-align: left;}

.img-circle {
  border-radius: 50%;
  animation: social 1s;
}

#info #social {
  animation-fill-mode: forwards;
  animation: slidesocial 2.7s;
}

#about { animation: fadein .4s ease-in;}
#about h2 { animation: slideleft .4s ease-in;}
#about p { animation: slideleft .5s ease-in;}

#skills { animation: fadein .5s ease-in;}
#skills h2 { animation: slideleft .5s ease-in;}
#skills ul { animation: slideleft .6s ease-in;}

#projects { animation: fadein .7s ease-in;}
#projects h2{ animation: slideleft .7s ease-in;}
#projects h4, p { animation: slideleft .8s ease-in;}

#contact { animation: fadein .9s ease-in;}
#contact h2, form { animation: slideleft .9s ease-in;}

@media (min-width: 400px) {}

@media (min-width: 550px) {}

@media (min-width: 750px) {
  aside {
    width: 50%;
    height: 100vh;
    position: fixed;
  }

  main {
    width: 50%;
    float: right;
  }
}

/* css animations*/
  @keyframes social {
    from { -webkit-transform: scale(0,0); }
    to { -webkit-transform: scale(1,1);}
}

  @keyframes grow {
    0% { height: 10%; width: 20%; }
    100% { height: 100%; margin: 0% 0%; }
  }

  @keyframes fadein {
      from { opacity: 0;}
      to   { opacity: 1;}
  }

  @keyframes slidedown {
      from { margin-top: 30px;}
      to   { margin-top: 0px; }
  }

  @keyframes slideleft {
      from { margin-left: 100px;}
      to   { margin-left: 0px; }
  }

  @keyframes slidesocial {
      from { margin-left: -1350px;
             opacity: 0;}
      to   { margin-left: 0px;
             opacity: 1; }
  }
  /* Firefox < 16 */
/*  @-moz-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
*/
  /* Safari, Chrome and Opera > 12.1 */
  /*@-webkit-keyframes fadein {
      from { opacity: 0;
             margin-top: -20px;}
      to   { opacity: 1;
             margin-top: 0px; }
  }
*/
  /* Internet Explorer */
/*  @-ms-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
*/
  /* Opera < 12.1 */
/*  @-o-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
}
*/

    /*-webkit-animation: fadein 1s;  Safari, Chrome and Opera > 12.1 */
       /*-moz-animation: fadein 1s; /* Firefox < 16 */
        /*-ms-animation: fadein 1s; /* Internet Explorer */
         /*-o-animation: fadein 1s; /* Opera < 12.1 */
            /*animation: fadein 1s;*/
